.container{

 
    align-content: center;
    left: 100px;
    top: 100px;

}

.Bar{

    display: inline-block;
    width: 4px; 
    background-color: aqua;
    margin-top: 20px;
    margin-left:1.5px;
    margin-right:1.5px;

}

.btn1{
    background-color: white;
    border-radius: 10px;
    height : auto;
    font-size: 15px;
}

.controls{
    margin-top : 10px;
}

.slider-spn{
    color:white;
}

